<!-- Comments Form -->
<div class="well">

  <p>
  <%= form_for([@article, @article.comments.build]) do |f| %>

  </p>
  <%= f.label :pseudo %><br>
  <form role="form">
    <div class="form-group">
      <%= f.text_field :commenter, class: "form-control", rows: "1" %>
  </div>
      <%= f.label :commentaire %><br>

      <%= f.text_area :body, class: "form-control", rows: "3"  %>

    <p>
      <br>
      <%= f.submit 'Envoyer', class: "btn btn-primary" %>
    </p>

  <% end %>
  </form>

</div>
