<main role="main">
  <!-- Page Content -->
  <div class="row">
    <!-- Site's title -->
    <div class="col-md-10 col-md-offset-1">
      <div id="sng">
        <h1 id="synergie" >TEAM S<span id="n">N</span>G <small id="t">COMMUNAUTE MULTI-GAMING !</small></h1>
      </div>
    </div>
  </div>


  <!-- Blog Entries Column -->
  <!--div class="container"-->
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <%= render 'partials/side' %>
        </div>
        <div class="col-md-6 col-md-offset-1" >
          <h2 classe="titre">Dernières news</h2>
          <% @articles.each do |article| %>
          <h2><%= sanitize article.titre %></h2>
          <p><span class="glyphicon glyphicon-time"></span> Publié le <%= t(article.created_at) %></p>
          <!--p><%#= image_tag article.image %></p-->
          <div class="texte">
            <p id="texte"><%= sanitize article.contenu[0...200] + '...' %></p>
            <br>
            <p><%= link_to ('Lire la suite <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, article_path(article), class: "btn btn-primary" %></p>
            <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<hr>

<!-- /.container -->
