<!--header id="main_header">
<div id="main_header_carousel"-->
<div class="site_width">
<a href="/"><img id="main_header_logo" alt="Synergie Communauté Multigaming" <%= image_tag "logo.png" %> </img></a>
</div>
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>

    </ol>Bf4, Rocket league.
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" alt="First slide" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455284076-sliderlol.png" %>  </img>
        <div class="container">
          
        </div>
      </div>
      <div class="item">
        <img class="second-slide" alt="Second slide" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455360155-sliderfifa.png" %>  </img>


      </div>
      <div class="item">
        <img class="second-slide" alt="Third slide" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455360158-sliderblade.png" %>>

      </div>
      <div class="item">
        <img class="" alt="Fourth slide" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455286436-silderdayz.png" %> </img>

      </div>
      <div class="item">
        <img class="second-slide" alt="Fifth slide" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455360149-sliderarma.png"%>  </img>


      </div>
      <div class="item">
        <img class="second-slide" alt="Sixth slide" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455360098-silderrb6.png"%>  </img>


      </div>
      <div class="item">
        <img class="second-slide" alt="BF4" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455363697-sliderbf4.png"%>  </img>


      </div>
      <div class="item">
        <img class="second-slide" alt="Rocket League" <%= image_tag "http://image.noelshack.com/fichiers/2016/06/1455363697-silderrl.png"%>  </img>


      </div>
    </div><!-- /.carousel -->


  </header>
