<main role="main">
<!-- Page Content -->
    <div class="row">
        <!-- Site's title -->
        <div class="col-md-10 col-md-offset-1">
            <div id="sng">
                <h1 id="synergie" >
                    TEAM S<span id="n">N</span>G <small id="t">COMMUNAUTE MULTI-GAMING !</small>
                </h1>
            </div>
        </div>

        <!-- Blog Entries Column -->
        <div class="col-md-4 col-md-offset-2">

            <!-- First Blog Post -->
            <h2>
                <%= link_to 'Blog Post Title', page_path('blogpost') %>
            </h2>
            <p class="lead">
                de <%= link_to 'Start Bootstrap', root_path %>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p class="apercu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            <%= link_to ('Read More <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, page_path('blogpost'), :class => "btn btn-primary" %>

            <hr>

            <% @articles.each do |article| %>
                <h2><%= article.titre %></h2>
                <p><span class="glyphicon glyphicon-time"></span> Publié le <%= article.created_at %></p>


                <p class="apercu"><%= article.contenu[0...200] %></p>
                <%= link_to ('Lire la suite <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, article_path(article), class: "btn btn-primary" %>


            <% end %>

            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4 col-md-offset-0">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">

                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero. Blavaldkzjdzed</p>
            </div>

            <!-- TEAMSPEAK-->
            <div class="well">
                <h4>Teamspeak</h4>
                  <div id="teamspeak">
                    <script type="text/javascript">
                    var ouvert = 1;
                    var style = "modern";
                    var couleur_fond = "E9E9E9";
                    var couleur_texte = "000000";
                    var largeur = 315;
                    var hauteur = 400;
                    var ip = "ts.synergiegaming.fr";
                    var port = 9987;
                    var query = 10011;
                    var lang = "fr";
                    var taille_police = 12;
                    var voir_salons = 1;
                    </script>
                    <!--script type="text/javascript" src="https://www.ts3-serveur.com/web_script/webscript_ts3.js"></script-->

                  </div>
                </div>




    </div>
    <!-- /.row -->

  </main>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Synergie Gaming 2016</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
