<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Synergie Gaming" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Synergie Gaming" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.png', type: 'image/png' %>
  </head>
  <body>
    <header>
      <%= render "partials/header" %>

      <%= render "partials/navbar" %>

    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <script src="//cdn.ckeditor.com/4.5.7/full-all/ckeditor.js"></script>
  </body>
</html>
